# Node & Angular
node_modules/
.angular/
dist/
.npm/

# IDEs & Editores
.vscode/
.idea/
*.swp
*.swo

# Entornos y compilación de Java/Spring Boot
target/
*.class
.mvn/
*.jar
*.war

# Python & Entornos virtuales
__pycache__/
*.pyc
*.pyo
venv/
env/
.env

# Archivos pesados y temporales del sistema
.DS_Store
Thumbs.db
*.log

# Bases de datos y binarios locales
*.db
*.sqlite
*.sqlite3
*.7z

# Mapas de prueba temporales generados por scripts
mapa_*.html
verificacion_mapa.html